body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    font: sans-serif;
    text-align: justify;
}

p {
	margin-right: 20px;
	font: sans-serif;
	text-align: justify;
}

a {
	margin-right: 20px;
	font: sans-serif;
	text-align: justify;
}

#id {
	padding-right: 5px;
}
